/**
 * Duel
 */
.duel__container {
}

.duel__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  gap: 3px;
  background: #e7ce41;
  top: 65px;
  left: 0;
  bottom: 100px;
  width: 100%;
}

.duel__quizz {
}

.duel__vs {
  letter-spacing: -0.1em;
  position: absolute;
  top: 50%;
  font-size: 100px;
  left: 50%;
  width: 0px;
  height: 0px;
  margin-top: -15px;
  margin-left: -5px;
  content: 'VS';
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e7ce41;
  text-shadow: 2px 2px #000;
  z-index: 20;
  font-weight: 700;
}

.duel__item {
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  transition: 0.3s;
}

.duel__item:first-child {
  background: rgba(17, 33, 41, 1);
}

.duel__item:last-child {
  background: rgba(36, 28, 28, 1);
}

.duel__item:first-child:hover {
  background: rgb(23, 53, 68);
}

.duel__item:last-child:hover {
  background: rgb(56, 31, 31);
}

.duel__choice {
  position: absolute;
  top: 65px;
  bottom: 100px;
  left: 0;
  width: 100%;
  background: rgba(22, 26, 29, 0.95);
  border: 10px solid #2196f3;
  color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  z-index: 21;
}

.duel__title {
  position: absolute;
  top: 80px;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  z-index: 3;
  background-color: #e7ce41;
  font-weight: bold;
  text-align: center;
  color: #111;
}

.duel__choice--wrong {
  color: #ff6944;
  border-color: #ff6944;
}

.duel__choice__content {
  font-size: 30px;
  display: block;
  font-weight: bold;
}

.duel__choice__button {
  background: #fff;
  color: #000;
  font-size: 12px;
  margin-top: 10px;
  padding: 5px 15px;
  border-radius: 5px;
}

.duel__choice__explaination {
  color: white;
}

.duel__choice__explaination div {
  margin: 10px 0;
}

.duel__stats {
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  padding: 10px 15px;
}

.duel__score {
  font-weight: bold;
  font-size: 10px;
  opacity: 0.5;
}

.duel__history__items {
}

.duel__history__item {
  height: 15px;
  width: 15px;
  border-radius: 20px;
  margin-right: 10px;
  display: inline-block;
  background-color: #111;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.1);
  margin-top: 10px;
}

.duel__history__item--right {
  background-color: #42bb42;
}

.duel__history__item--wrong {
  background-color: #ff6944;
}
